@{
    ViewData["Title"] = "Inicio";
}
<h1></h1>

<form class="form-horizontal" asp-area="" asp-controller="Home" asp-action="Consulta">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Simbolo:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="simbolo" name="simbolo" placeholder="Simbolo">
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Consultar</button>
    </div>
  </div>
</form>